.info {
  padding-top: 120px;
}
.info-title {
  margin-bottom: 24px;
  text-align: center;
}
.info-text {
  font-family: "DM Sans";
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 238px;
}
.info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 36px 12px 36px;
  &:not(:last-of-type) {
    margin-right: 48px;
  }
  &::before {
    content: url("../../assets/icons/border-left_large.svg");
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }
  &::after {
    content: url("../../assets/icons/border-right_large.svg");
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
  }
}
.info-col__icon {
  padding: 30px 27px;
  position: relative;
  transform: translateY(-50%);
  width: 156px;
  height: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: url("../../assets/icons/border-left_md.svg");
    position: absolute;
    height: 156px;
    top: 0;
    left: 0;
  }
  &::after {
    content: url("../../assets/icons/border-right_md.svg");
    position: absolute;
    height: 156px;
    top: 0;
    right: 0;
  }

  & > img {
  }
}
.info-col__name {
  margin-bottom: 12px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: var(--blue);
}
.info-col__texts {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-30%);
  & > p {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #fefefe;
  }
}
