@import "../../styles/mixins.scss";

.promo {
  padding-top: 100px;
  &__bg {
    width: 100%;

    & > img {
      width: 100%;
      object-fit: contain;
    }
  }
  &-title {
    text-align: center;
  }

  @include mobile {
    display: none;
  }
}
