@import "../../styles/mixins.scss";

.promo {
  height: 100%;
  width: 100%;
  &-bg {
    width: 100%;
    background: url("../../assets/images/new/bg.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 0;
    background-position: center;
    padding-top: 56%;
    position: relative;
  }
  &-title {
    text-align: center;
  }
  &-logo {
    position: absolute;
    width: 370px;
    height: 70px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include mobile {
    display: none;
  }
}
