@import "./mixins";

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "TT Firs Neue", sans-serif;
  font-weight: bold;
  align-items: center;
  padding: 10px 27px;
  border: none;
  cursor: pointer;
  color: #fefefe;
  background: #85bb14;
  transition: all 0.3 ease-in-out;
  border-radius: 5px;

  &:hover {
    background-color: #1f172c;
    color: var(--blue);
    transition: all 0.3 ease-in-out;
  }

  @include mobile {
    font-size: 18px;
    line-height: 24px;
    height: 48px;
    max-width: 229px;
  }
  &_modal {
    width: auto;
    height: auto;
    padding: 24px 80px;
  }

  &_meta {
    color: var(--main-purple);
    background: #1f172c;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid var(--secondary-purple);
  }
}
