@import './mixins';

.btn {
  width: 338px;
  height: 76px;
  background-image: url('../assets/images/btn-bg.png');
  background-color: var(--main-purple);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  transition: all 0.2s ease;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #1f172c;
    color: var(--secondary-purple);
  }

  @include mobile {
    font-size: 18px;
    line-height: 24px;
    height: 48px;
    max-width: 229px;
  }

  &_meta {
    color: var(--main-purple);
    background: #1f172c;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid var(--secondary-purple);
  }
}
