@import "./mixins";

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 48px;
  width: 136px;
  height: 56px;
  left: 652px;
  top: 766px;
  border: none;
  cursor: pointer;
  background: var(--blue);
  transition: all 0.3 ease-in-out;
  border-radius: 5px;

  &:hover {
    background-color: #1f172c;
    color: var(--blue);
  }

  @include mobile {
    font-size: 18px;
    line-height: 24px;
    height: 48px;
    max-width: 229px;
  }

  &_meta {
    color: var(--main-purple);
    background: #1f172c;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid var(--secondary-purple);
  }
}
