@import "./mixins";

.title {
  font-family: "Akira Expanded", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 3.75rem;
  line-height: 4.5rem;
  color: var(--white);

  &_sub {
    font-size: 36px;
    line-height: 48px;

    @include tablet {
      font-size: 24px;
      line-height: 28px;
    }
  }

  @include tablet {
    font-size: 28px;
    line-height: 36px;
  }
}
