@import "../../styles/mixins";

.header {
  padding-top: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mobile {
    padding-top: 10px;
  }

  &__logo {
    width: 270px;

    & img {
      max-width: 100%;
    }

    @include mobile {
      width: 180px;
    }
  }

  &__hamburger {
    visibility: hidden;
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      visibility: visible;
    }
  }

  &__navbar {
    margin-left: 78px;

    @include tablet {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > li {
      cursor: pointer;
      margin-right: 84px;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: bold;
      font-size: 2.25rem;
      line-height: 1.75rem;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: var(--blue);
      }
    }

    & a {
      color: #fefefe;
      text-decoration: none;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    & > li {
      margin-right: 59px;
    }
  }

  &__mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1f172c;
    z-index: 99;
    padding: 40px 0;
    transform: translateX(0);
    transition: transform 0.3s ease;
    @include tablet {
      display: block;
    }

    &_hidden {
      transform: translateX(100%);
    }
  }

  &__mobile-nav {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & li {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      padding-bottom: 20px;
      padding-top: 20px;
      position: relative;
      width: 100%;
      text-align: center;

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 195px;
        background-color: #fefefe;
      }
    }

    & a {
      color: #fefefe;
      text-decoration: none;
    }
  }

  &__mobile-social {
    margin-top: 46px;
    display: grid;
    grid-template-columns: repeat(3, 44px);
    column-gap: 48px;
    align-items: center;
    justify-content: center;
  }

  &__mobile-btn {
    display: block;
    margin: 0 auto;
    margin-top: 48px;
  }

  &__mobile-close {
    display: block;
    margin: 0 auto;
    width: 48px;
    height: 48px;
    margin-top: 24px;
    font-size: 34px;
    line-height: 34px;
    color: #fefefe;
    background: transparent;
    border: 1px solid var(--main-purple);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
