.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
}
.footer-social {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  & > img {
    cursor: pointer;
    &:first-of-type {
      margin-right: 48px;
    }
  }
}
.footer-copyright {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #fefefe;
}
