@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@600&display=swap");
@import url("http://fonts.cdnfonts.com/css/akira-expanded");

@import "swiper/css";

@import "./styles/common.scss";
@import "./styles/mixins";
@import "./styles/variables";
@import "./styles/buttons";
@import "./styles/titles";

body {
  color: #fefefe;
  font-family: "Montserrat", sans-serif;
  background: #000;
}

.back {
  background-image: url("./assets/images/Back.svg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: Min(100%, var(--container-width));
  margin: 0 auto;
  padding: 0 60px;

  &_s {
    max-width: Min(100%, calc(var(--container-width) - 150px));
  }

  @include mobile {
    padding: 0 15px;
  }
}
