@import "swiper/css";

@import "./styles/common.scss";
@import "./styles/mixins";
@import "./styles/variables";
@import "./styles/buttons";
@import "./styles/titles";
@import "./assets/fonts/style";

body {
  color: #fefefe;
  font-family: "TT Firs Neue", sans-serif;
  background: #000;
}

.back {
  background-image: url("./assets/images/Back.svg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: Min(100%, var(--container-width));
  margin: 0 auto;
  padding: 0 60px;

  &_s {
    max-width: Min(100%, calc(var(--container-width) - 150px));
  }

  @include mobile {
    padding: 0 15px;
  }
}
