.purchase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}
.purchase-title {
  margin-bottom: 60px;
}
.purchase-image {
  max-width: 296px;
  margin-bottom: 24px;
  & > img {
    width: 100%;
    object-fit: contain;
  }
}
.purchase-info {
  margin-bottom: 36px;
}
.purchase-price {
  margin-bottom: 12px;
}
.purchase-remaining {
  margin-bottom: 48px;
}
.purchase-text {
  margin-bottom: 24px;
}
.purchase-text,
.purchase-price,
.purchase-remaining {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  line-height: 36px;
}
.purchase-counter {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 294px;
  margin: 0 auto;
  height: 84px;
  &__minus {
    color: var(--blue);
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 69px;
    margin-right: 32px;
    cursor: pointer;
    &:hover {
      color: #fefefe;
    }
  }
  &__value {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 72px;
    margin-right: 32px;
    text-shadow: 0 7px 23px var(--blue), 0 0 20px var(--blue),
      0 0 30px var(--blue), 0 0 40px var(--blue), 0 0 50px var(--blue),
      0 0 60px var(--blue), 0 0 70px var(--blue);
  }
  &__plus {
    color: var(--blue);
    font-style: normal;
    cursor: pointer;
    font-weight: 500;
    font-size: 48px;
    line-height: 69px;
    &:hover {
      color: #fefefe;
    }
  }
}
.purchase-btn {
}
